@import url(https://fonts.googleapis.com/css?family=Poppins)
	
.body {
	background-color: white;	
}

.carousel-item {
  height: 85vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.display-1 {
	font-weight: 800;
	background-color: white;
}

#birthdayperson-container {
	height: 100px;
}

#BirthdayPerson-text {
	padding-right: 15px;
}

.profile-birthday {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	object-fit:cover;
	object-position:left;
	margin-right: 5px;
}

.first-btn {
	margin-right: 5px;
	vertical-align: top;
}

.second-btn {
	margin-right: 20px;
}

.lead {
	background-color: dark
}

.carousel-container {
  position: absolute;
  right: 15%;
  left: 15%;
  top: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
}
.container {
	padding-top: 25px;
	align-content: stretch;
}

.nav-fill {
	background: blueviolet;
}

.form {
	padding-left: 40px;
	padding-right: 40px;
	color: white;
}

.text-center {
	padding-top: 50px;
}

.custom-control-label {
	color: white;
}

.profile-cover {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit:cover;
  object-position: center;
}

body
{
  margin: 0;
  padding: 0;
  background: white ;
  color: #cdcdcd;
}

#menuToggle
{
  display: block;
  position: relative;
  top: 10px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: palevioletred;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0;
  z-index: 2; 
  
  -webkit-touch-callout: none;
}

#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: white;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: absolute;
  width: 350px;
  height: 1000px;
  margin: -100px 0 0 -50px;
  padding: 100px;
  padding-top: 125px;
  text-align: center;
  background: white;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}


#menu li {
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked ~ ul {
  transform: none;
}

<<<<<<< HEAD
.upload{
background: blueviolet ;
  color: #cdcdcd;
  font-family: "Avenir Next", "Avenir", sans-serif;
}
/*Cards Section*/

=======
>>>>>>> e86e5a49b6f8aef2e44e2a765e0ac0ebf7bf58dd
*:hover{
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

<<<<<<< HEAD
	
/* QR Code */
#qrcode {
  width:160px;
  height:160px;
  margin-top:15px;
>>>>>>> d7efbc0357a62aa0a220937e2b86bacf778058b6
}
=======
.header {
  position: relative;
  height: 300px;
  border-bottom-left-radius: 60% 20%;
  border-bottom-right-radius: 60% 20%;
}

>>>>>>> partyanimal/master


/* Your Friends */

main {
  display: flex;
  flex-direction: column;
	 background-color:#FFFFFF;
}

.list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
 justify-content: space-between;
	background-color: white;
  padding: 12px 18px;
    color: #000;
}

.list-item:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.75);
}

.list-item .listphoto img{
	width: 90px;
  height: 90px;
	border-radius: 50%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.list-item .name {
font-size: 20px;
}

.list-item .star img{
	width: 40px;
  height: 40px;
	border-radius: 10%;
  
}

.yourfriends-addfriend {
	background: #66DCEC;
	display: flex;
  flex-direction: row;
	height: 50px;
	
}
.yourfriends-addfriend img{
	width: 60px;
	height: 50px;
	background: #66DCEC;
	align-content: flex-end;
	position: absolute;
  right: 17px;
}


.score{
	color:aliceblue;
}

tr{
	border-color: aliceblue;
}

th{
	color: aliceblue;
}

td{
	color: aliceblue;
}



.events-container {
  padding: 0 15px;
}

.events__title {
  color: #BEC1CA;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 16px;
}
.events__tag{
  background: #66DCEC;
  border: 2px solid #FEFEFE;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  color: #fff;
  font-size: 10px;
  font-weight: 600;
  width: 60px;
  margin-left: 16px;
  padding: 5px 2px;
  text-align: center;
}
.events__tag--highlighted{
  background: #FDCA40;
}
.events__tag__party{
	background:rgba(255,0,4,1.00)
}
.events__item {
  background: #fff;
  border-left: 8px solid #86D8C9;
  border-radius: 2px;
  -moz-box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.05);
  padding: 15px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}
.events__item--left {
  width: calc(100% - 76px);
}
.events__name {
  font-size: 12px;
  font-weight: 700;
  color: #222741;
  display: block;
  margin-bottom: 6px;
}
.events__date {
  font-size: 12px;
  color: #9FAAB7;
  display: inline-block;
}
.party {
	justify-content: center;
	align-items: center;
}
.jonas-birthday .calendar-table__item{
	display: flex;
	justify-content: center;
	align-items:center; background:url("/NicolasVY/PartyAnimal/images/party.png");
}
.birth-date{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 20px;
	width: 20px;
	background-image: url("images/party.png");
}

/*Terms of use*/

.terms-of-use{
	padding: 5px;
	margin: 15px;
	justify-content: center;
	align-items: center;
}


/*event popup*/

.bg-popup{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.7);
	position: absolute;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.buttons{
	
	justify-content: center;
	display: flex;
	background-color: #FFFFFF;
}

.popup-content{
	width: 50%;
	max-height: 75%;
	overflow-y: scroll;
	background-color: white;
	border-radius: 4px;
	text-align: center;
	padding: 10px;
	position: relative;
	scroll-behavior: smooth;
}

.popup-image{
	width: 200px;
	height: 200px;
}
.add-event-button{
	  background: #66DCEC;
  border: 2px solid #FEFEFE;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  color: #fff;
  font-size: 10px;
  font-weight: 600;
  width: 60px;
  margin-left: 16px;
  padding: 5px 2px;
  text-align: center;
}

<<<<<<< HEAD
.profilepage{
	background-color: blueviolet;
	color:blueviolet;
	
}

img {
	border-radius: 50%;
	vertical-align: middle;
}

<----- QR Code ----->
#qrcode {
  width:160px;
  height:160px;
  margin-top:15px;
	}
.submit-event-button{
  background: #66DCEC;
  border: 2px solid #FEFEFE;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  color: #fff;
  font-size: 10px;
  font-weight: 600;
  width: 60px;
  margin-left: 16px;
  padding: 5px 2px;
  text-align: center;
}

input{
	width: 50%;
	display: block;
	margin: 10px auto;
	
>>>>>>> e86e5a49b6f8aef2e44e2a765e0ac0ebf7bf58dd
}

.checkbox input{
	width: 100%;
	display: inline-block;
	margin: 0px auto;
}

.close{
	position: absolute;
	top: 0;
	right: 14px;
	font-size: 42px;
	transform: rotate(45deg);
	cursor: pointer;
}

.checkboxes label {
  display: inline-block;
  padding-right: 10px;
  white-space: nowrap;
}
.checkboxes input {
  vertical-align: middle;
}
<<<<<<< HEAD

	
.profile {
	max-height: 200px;
	max-width: 200px;
	border-radius: 80px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow-x: ellipsis;
	
	}

.profile img {
	text-align: center;
	width: 160px;
	height: 160px;
	margin: 12px;
	justify-content: center;
	display: flex;
	align-items: center;
	
	
}

.profile{
	align-content: center;
	justify-content: center;
	padding left: 50px;
	
}

.image{
	align-content: center;
	display: flex;
	text-align: center;

}

	.profilepic .col-12 {
		justify-content:center;
		align-content:center;
		align-items:center;
		display: flex;
		
	}
	
	.name {
		white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
		max-width: inherit;
		text-align: center;
		display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow-x: ellipsis;
		background-color: #FFFFFF;
	}
=======
	
	.countdown{
		background-color: #FBB83E;
		color: #FBB83E;
			
		
	}
	
	.button {
  background-color: #FBB83E;
  border: none;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}
	
	.btn{
		align-content: center;
	} 
	
	.btn-secondary{
		background-color: #FBB83E;
		border-radius: 50px;
		padding-top: 12px;	
}

.btn-primary{
	background-color: #FEE2B5;
	margin-top: 20px;
	margin: 5px;
	border-radius: 50px;
	
}

table, th, td {
  border: 3px solid #FBB83E;
  border-collapse: collapse;
	align-content: center;
	align-items: center;
	
	
}
th, td {
  padding: 5px;
  text-align: left;
}

.score{
	
	align-content: center;
	border-color: #FBB83E;
border-style: inherit;
		text-align: center;
}
	

.dog{
	width: 80px;
	height: auto;
	
}

.fish{
	width: 80px;
	height: auto;
	
}

.checkboxes label span {
  vertical-align: middle;
}
>>>>>>> e86e5a49b6f8aef2e44e2a765e0ac0ebf7bf58dd


.hero-content {
	
}
